@model HikingProject.Models.Hikes
@using HikingProject.Controllers

@{
    ViewData["Title"] = "Create";
}

<h2>Création</h2>

<hr />
<div class="row text-center">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Hikes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="control-label">Intitulé</label>
                <textarea asp-for="name" class="form-control"></textarea>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="difficulty" class="control-label">Difficulté</label>
                <input asp-for="difficulty" class="form-control" />
                <span asp-validation-for="difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="distance" class="control-label">Distance (km)</label>
                <input type="number" asp-for="distance" class="form-control" cols="80" rows="10">
                <span asp-validation-for="distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duration" class="control-label">Durée (minutes)</label>
                <input type="number" asp-for="duration" class="form-control" cols="80" rows="10">
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="elevation_gain" class="control-label">Élévation (m)</label>
                <input type="number" asp-for="elevation_gain" class="form-control" cols="80" rows="10">
                <span asp-validation-for="elevation_gain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="link" class="control-label">Entrez un nombre entre 1 et 43 pour votre image</label>
                <input type="number" asp-for="link" class="form-control" cols="80" rows="10">
                <span asp-validation-for="link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" cols="80" rows="10">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>