@model HikingProject.Models.Hikes

@{
    DateTime localDate = DateTime.Now;
    ViewData["Title"] = "Create";
}

<h2>Update your hike</h2>

<hr />
<div class="row text-center">
    <div class="col-md-4">
        <form asp-action="Update" asp-controller="Hikes">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Intitulé</label>
                <textarea asp-for="name" class="form-control"></textarea>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="difficulty" for="difficulty" class="control-label">Difficulté</label>
                <select asp-for="difficulty" class="form-control" id="difficulty" name="difficulty">
                    <option value="Très facile">Très facile</option>
                    <option value="Facile">Facile</option>
                    <option value="Moyen">Moyen</option>
                    <option value="Difficile">Difficile</option>
                    <option value="Très difficile">Très difficile</option>
                </select>
                <span asp-validation-for="difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="distance" class="control-label">Distance (km)</label>
                <input asp-for="distance" class="form-control" cols="80" rows="10"/>
                <span asp-validation-for="distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duration" class="control-label">Durée (minutes)</label>
                <input type="number" asp-for="duration" class="form-control" cols="80" rows="10">
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="elevation_gain" class="control-label">Élévation (m)</label>
                <input type="number" asp-for="elevation_gain" class="form-control" cols="80" rows="10">
                <span asp-validation-for="elevation_gain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" cols="80" rows="10" asp-for="created_at" value="@localDate">
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" cols="80" rows="10" asp-for="province">
                <span asp-validation-for="province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" cols="80" rows="10" asp-for="link">
                <span asp-validation-for="link" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
